.navbar {
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #7f7979;
  justify-content: space-between;
  &__btn-group {
    width: auto;
    padding-left: 0.5rem;
  }
  &__sign-in-out {
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
