@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="content px-4">
            <!--Render Page-->
            @Body
        </div>
    </div>
</div>
