<div class="navbar">
<div class="navbar__btn-group">
    <MudButton Class="" Variant="Variant.Filled">Citations</MudButton>
    <MudButton Variant="Variant.Filled">Login</MudButton>
</div>
</div>

@code {

}
