<div class="navbar">
    <div class="navbar__btn-group">
        <MudButton Class="navbar__homepage" Link="/ResolveCitation" Variant="Variant.Filled">Resolve Citation
        </MudButton>
        <MudButton Class="navbar__homepage" Link="/Signin" Variant="Variant.Filled">Sign in</MudButton>
    </div>
</div>

@code {

}
