@inherits NavBarBase
<div class="navbar">
    <div class="navbar__btn-group">
        @NavButtons
    </div>
    <div class="navbar__sign-in-out">
        @LoginLogout
    </div>
</div>


@code
{ [Parameter]
    public RenderFragment NavButtons { get; set; }

    [Parameter]
    public RenderFragment LoginLogout { get; set; } }
