@inherits NavBarBase
<div class="navbar">
    <div class="navbar__btn-group">
        @NavButtons
    </div>
    <div class="navbar__sign-in-out">
    @if (username != null) { 
        <MudText Typo="Typo.h6" Style="padding-right:10px; color:#ffffff">@username</MudText>
    }
        @LoginLogout
    </div>
</div>


