@inherits NavBarBase
<div class="navbar">
    <div class="navbar__btn-group">
        @NavButtons
    </div>
    @LoginLogout
</div>


@code
{
    [Parameter]
    public RenderFragment NavButtons { get; set; }

    [Parameter]
    public RenderFragment LoginLogout { get; set; }
}
