@page "/Citationresolution/{citation_number}"
@inject IDialogService DialogService
@layout UnAuthLayout
@inherits CitationResolutionBase

<MudText Typo="Typo.h3">Citation Resolution</MudText>

<MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Style="height:300px">
    <thead>
        <tr>
            @foreach (var h in headings)
            {
                <th>@h</th>
}
        </tr>
    </thead>
    <tbody>
        @foreach (var data in CitizenVehicleCitation)
        {
            <tr>
                @foreach (var prop in ObjectPrinter.PropertiesOfType(data))
                {
                    if (prop.Value != null && prop.Key != "citation_type_id" && prop.Key != "is_resolved" && prop.Key != "is_registered")
                    {
                        <td>@prop.Value</td>
}
                }

                @if (data.fine > 0)
                {
                    <td><MudButton @onclick="@((e) => OpenPayDialog(data))" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Pay</MudButton></td>
}
                @if (data.training_eligable == true)
                {
                    <td><MudButton @onclick="((e) => OpenCourseEnrollmentDialog(data))" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Enroll in Course</MudButton></td>
}

            </tr>
}
    </tbody>

</MudSimpleTable>

@using TCRS.Shared.Objects.Citations;
@code { private async void OpenPayDialog(CitizenVehicleCitation data)
    {
        var parameters = new DialogParameters { ["data"] = data };
        var dialog = DialogService.Show<PayDialog>("Fine Payment", parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            // successful
        }

    }

    private async void OpenCourseEnrollmentDialog(CitizenVehicleCitation data)
    {
        var parameters = new DialogParameters { ["data"] = data };
        var dialog = DialogService.Show<CourseEnrollmentDialog>("Course Enrollment", parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            // successful
        }

    } }
