@page "/Citationresolution/{citation_number}"
@inject IDialogService DialogService
@layout UnAuthLayout
@inherits CitationResolutionBase

<MudText Typo="Typo.h3">Citation Resolution</MudText>

<MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Style="height:300px">
    <thead>
        <tr>
            @foreach (var h in headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var data in CitizenVehicleCitation)
        {
        <tr>
            @foreach (var prop in ObjectPrinter.PropertiesOfType(data))
            {
                if (prop.Value != null)
                {
                    <td>@prop.Value</td>
                }
            }

            @if (data.fine > 0)
            {
                <td><MudButton @onclick="@OpenPayDialog" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Pay</MudButton></td>

            }
            @if (data.training_eligable == true)
            {
                <td><MudButton @onclick="OpenCourseEnrollmentDialog" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Enroll in Course</MudButton></td>
            }

        </tr>
        }
    </tbody>

</MudSimpleTable>

@code { private void OpenPayDialog()
    {
        DialogService.Show<PayDialog>("Fine Payment");
    }
    private void OpenCourseEnrollmentDialog()
    {
        DialogService.Show<CourseEnrollmentDialog>("Course Enrollment");
    } 
}
