@page "/Citationissuing"
@attribute [Authorize(Roles = Roles.HighwayPatrolOfficer)]
@inherits CitationIssuingBase

@using System.ComponentModel.DataAnnotations
<MudText Typo="Typo.h3">Citation Issuing</MudText>

<div class="citation-body">
    <div style="max-width: 400px;">
        <EditForm Model="@EditContext" OnValidSubmit="@OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Licence ID" Variant="Variant.Outlined"
                                  @bind-Value="CitationData.licence_id" For="@(() => CitationData.licence_id)" />
                    <MudTextField Label="Licence Plate" Variant="Variant.Outlined"
                                  @bind-Value="CitationData.licencePlate" For="@(() => CitationData.licencePlate)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Search</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </div>

    <MudPaper Class="pa-1 ma-2" Elevation="3">

        <MudText Typo="Typo.h6">Person Information</MudText>
        <div style="max-width: 400px;">
            <MudTextField @bind-Value="GetOffenderName" Label="Offender Name:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField @bind-Value="GetOffenderLicencePlate" Label="Offender Licence Plate:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField @bind-Value="GetOfficerName" Label="Officer Name:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField @bind-Value="GetDateOfOffence" Label="Date of Offence:" ReadOnly="true" Variant="Variant.Filled" />
        </div>

        <MudText Typo="Typo.h6">Citation Input Fields</MudText>
        <MudGrid>
            <MudItem xs="12" sm="6" md="3">
                <MudTextField @bind-Value="CitationNumber" Label="Citation Number" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudTextField @bind-Value="Status" Label="Status" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudTextField @bind-Value="DateIssued" Label="Date Issued" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudTextField @bind-Value="DateDue" Label="Date Due" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudTextField @bind-Value="FineAmount" Label="Fine Amount" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Issue Citation</MudButton>
            </MudItem>
        </MudGrid>
    </MudPaper>

</div>
