@inject IDialogService DialogService

<MudDialog>
    <DialogContent>
        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Style="height:300px">
            <thead>
                <tr>
                    @foreach (var h in headings)
                    {
                        <th>@h</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in rows)
                {
                    <tr>
                        @foreach (var x in row.Split())
                        {
                            <td>@x</td>
                        }
                        <MudButton @onclick="BookDialogPress" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" Class="ma-2">Book</MudButton>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Secondary">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@using TCRS.Shared.Objects.Citations;
@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public CitizenVehicleCitation data { get; set; }

    protected void Cancel() => MudDialog.Cancel();

    //[Inject]
    //private ICourseManager CourseManager { get; set; }

    /*
    protected override void OnInitialized()
    {
        base.OnInitialized();

        //var data = CourseManager.GetCourseData();

    }
    */
    // TEMP DATA
    protected string[] headings = { "Course ID", "Date", "Location" };
    protected string[] rows = {
            @"1 Date1 Location1",
            @"2 Date2 Location2",
            @"3 Date3 Location3",
            @"4 Date4 Location4",
            @"5 Date5 Location5"
        };

    private void BookDialogPress()
    {
        // register the user right here
    }
}