@page "/Coursemanagement"
@attribute [Authorize(Roles = Roles.SchoolRep)]
@inherits CourseManagementBase
@using System.ComponentModel.DataAnnotations

<br />
<div class="regular-page">
    <div class="info_card">
        Hello
    </div>

</div>
