@page "/Dialogs"
@inject IDialogService DialogService

<h3>Course Enrollment</h3>

<MudButton @onclick="OpenPayDialog" Variant="Variant.Filled" Color="Color.Primary">Pay</MudButton>
<MudButton @onclick="OpenCourseEnrollmentDialog" Variant="Variant.Filled" Color="Color.Primary">Course Enrollment</MudButton>

@code {
    private void OpenPayDialog()
    {
        DialogService.Show<PayDialog>("Fine Payment");
    }

    private void OpenCourseEnrollmentDialog()
    {
        DialogService.Show<CourseEnrollmentDialog>("Course Enrollment");
    }
}