@page "/"
@layout UnAuthLayout

<div class="homepage">
    <div class="homepage__text">
        <MudText Align="Align.Center" Typo="Typo.h2">Traffic Citation Reporting System</MudText>
        <MudText Align="Align.Center" Typo="Typo.h6">
            This is the Traffic Citation Reporting System coded by BirdBait for COSC3506W21.
        </MudText>
        <br />
        <br />
        <MudText Align="Align.Center" Typo="Typo.body1">
            To sign in as a citizen and resolve a citation, click the "Resolve Citation" button above and enter your citation number.
        </MudText>
        <br />
        <MudText Align="Align.Center" Typo="Typo.body1">
            To sign in as an employee, click the "Sign in" button above and enter your credentials.
        </MudText>
    </div>
</div>
